name: myapp

services:
  caddy:
    ports:
      - 80:80
      - 443:443
    environment:
      CADDY_SITE_ADDRESS: edge.myapp.com
    restart: unless-stopped

  postgrest-trusted:
    image: postgrest/postgrest:v14.2
    environment:
      PGRST_DB_ANON_ROLE: trusted
      PGRST_DB_SCHEMAS: core, logic
      PGRST_DB_URI: postgres://authenticator:${PGRST_AUTHENTICATOR_PASS:?}@infra.local:5432/myapp
    restart: unless-stopped

  postgrest-untrusted:
    image: postgrest/postgrest:v14.2
    environment:
      PGRST_DB_ANON_ROLE: untrusted
      PGRST_DB_SCHEMAS: api
      PGRST_DB_URI: postgres://authenticator:${PGRST_AUTHENTICATOR_PASS:?}@infra.local:5432/myapp
    restart: unless-stopped
