# Postgres
POSTGRES_USER=admin  # Used by the Postgres container to create the default DB role
POSTGRES_PASSWORD=pass
PGUSER=admin  # Used by psql
PGPASS=pass

# PostgREST
PGRST_APP_SETTINGS_JWT_SECRET=your-ultra-secret-jwt-key-123456  # must be at least 32 chars
PGRST_AUTHENTICATOR_PASS=pass
PGRST_DB_SCHEMAS=api
PGRST_OPENAPI_SECURITY_ACTIVE=true

# Swagger UI
SWAGGER_JSON_URL=http://localhost:8000/rest/

# Caddy
CADDY_PORT=8000
CADDY_HTTPS_PORT=443
CADDY_AUTO_HTTPS=off
