:80, :443 {

  # PostgREST
  @postgrest path /api/* /rpc/*
  handle @postgrest {
    reverse_proxy http://postgrest:3000
  }

  # Swagger UI
  handle_path /openapi/* {
    reverse_proxy swagger-ui:8080
  }
}
