:80, :443 {

  # PostgREST
  handle_path /rest/* {
    reverse_proxy http://postgrest:3000
  }

  handle /rpc/* {
    reverse_proxy http://postgrest:3000
  }

  # Swagger UI
  handle_path /openapi/* {
    reverse_proxy swagger-ui:8080
  }
}
