name: myapp

services:
  caddy:
    build: ./caddy
    ports:
      - 80:80
      - 443:443
    environment:
      CADDY_SITE_ADDRESS: backend.myapp.com

  myapp-postgrest-internal:
    image: postgrest/postgrest:v14.2
    environment:
      PGRST_APP_SETTINGS_ENVIRONMENT: production
      PGRST_APP_SETTINGS_JWT_SECRET: ${JWT_SECRET:?}
      PGRST_DB_ANON_ROLE: internal
      PGRST_DB_SCHEMAS: core, logic
      PGRST_DB_URI: postgres://myapp_authenticator:${PGRST_AUTHENTICATOR_PASS:?}@infra.local:5432/myapp
    depends_on:
      migrate:
        condition: service_completed_successfully

  myapp-postgrest-human:
    image: postgrest/postgrest:v14.2
    environment:
      PGRST_APP_SETTINGS_ENVIRONMENT: production
      PGRST_APP_SETTINGS_JWT_SECRET: ${JWT_SECRET:?}
      PGRST_DB_ANON_ROLE: human
      PGRST_DB_SCHEMAS: api
      PGRST_DB_URI: postgres://myapp_authenticator:${PGRST_AUTHENTICATOR_PASS:?}@infra.local:5432/myapp
    depends_on:
      migrate:
        condition: service_completed_successfully

  migrate:
    build: ./migrate
    environment:
      DATABASE_URL: postgres://myapp_migrator:${MIGRATOR_PASS:?}@infra.local:5432/myapp
    restart: "no"
